body {
  background: #333333;
  color: #ffffff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 100px;
}

#home-section .card-form {
  opacity: 0.7;
}

html {
  scroll-padding-top: 3.6rem;
}

#home-section .fas {
  color: #008ed6;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

#loginModal {
  background-color: rgba(255, 255, 255, 0.3)
}

#loginModal {
  opacity: 0.9;
  margin-top: 14.63rem;
}

#loginModal .close {
  padding: 0;
  background-color: transparent;
  border: 0;
  margin-top: -0.5rem;
}

@media(max-width: 576px) {
  #sign_in_btn {
    font-size: 1rem;
    display: contents;
    font-weight: 400;
    color: #adadad;
  }

  #sign_in_parent.ml-2 {
    margin-left: 0rem !important;
  }

  .btn:hover {
    color: #ffffff !important;
  }
}

#explore-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.mt-minus-5 {
  margin-top: -4.5px !important;
}